# --- Lista de Dependências para o Render.com ---

# Framework da API
fastapi
uvicorn

# Manipulação de Dados
pandas
dscikit-learn

# O "Cérebro" Estatístico (Bayesiano)
pymc==5.10.3
pymc-marketing==0.5.0
arviz==0.17.0

# Otimização
scipy==1.13.0
