# --- Lista de Dependências para o Render.com ---

# Framework da API
fastapi
uvicorn

# Manipulação de Dados
pandas
scikit-learn

# O "Cérebro" Estatístico (Bayesiano)
# Nós só precisamos especificar o pymc-marketing; 
# ele automaticamente instalará a versão correta do pymc.
pymc-marketing==0.5.0
arviz==0.17.0

# Otimização
# Fixamos o scipy em 1.12.0 para evitar o ImportError 'gaussian'
scipy==1.12.0
